@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:wght@600&family=Rubik:wght@400;500&display=swap');

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2f74c0;
    font-family: "Neucha", cursive;
}
.heading {
    text-transform: uppercase;
    font-size: 40px;
    margin: 30px 0;
    color: #fff;
    z-index: 1;
    text-align: center;
}